from fastapi import FastAPI
from app.core.config import settings
from app.api.router import api_router
{% if async_orm %}
from app.db.session import engine
from app.db.base import Base
{% endif %}

app = FastAPI(
    title=settings.PROJECT_NAME,
    openapi_url=f"{settings.API_V1_STR}/openapi.json"
)

{% if async_orm %}
@app.on_event("startup")
async def init_db():
    async with engine.begin() as conn:
        # Create database tables if they do not exist
        await conn.run_sync(Base.metadata.create_all)
{% endif %}

@app.get("/")
def read_root():
    return {"message": f"Welcome to {settings.PROJECT_NAME} API"}

app.include_router(api_router, prefix=settings.API_V1_STR)
