from fastapi import APIRouter
{% if auth_jwt %}
from app.api.endpoints import auth, users

api_router = APIRouter()
api_router.include_router(auth.router, tags=["auth"])
api_router.include_router(users.router, prefix="/users", tags=["users"])
{% else %}
api_router = APIRouter()

@api_router.get("/health")
def health_check():
    return {"status": "ok"}
{% endif %}
